# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# OS files
.DS_Store
Thumbs.db

# Private keys
*.pem
google_auth.json

# Build folders
dist/
build/

# Coverage
coverage/